USE [BERRI_ANH]
GO
/****** Object:  StoredProcedure [dbo].[psp_REPORT_PERIODIC_SALES_SUMMARY]    Script Date: 1/14/2026 8:32:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[psp_REPORT_PERIODIC_SALES_SUMMARY]
(
    @fromdate     DATE,
    @todate       DATE,
    @branchids    dbo.tp_BrnIds READONLY,
    @countercode  VARCHAR(25) = '',
    @shiftid      INT = 0
)
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        CONVERT(DATE, I.Inv_Date) AS [Sales Date],
        I.BRNID                  AS [Branch Id],
        BR.BrnName               AS [Branch Name],

        I.CounterID              AS [Counter Id],
        C.CounterCode            AS [Counter Code],
        I.ShiftID                AS [Shift Id],

        SUM(ISNULL(I.Inv_CashAmount, 0)) AS [Cash Sales],
        SUM(ISNULL(I.Inv_CreditAmount, 0)) AS [Credit Sales],

        SUM(
            ISNULL(I.Inv_GVoucherAmount, 0)
          + ISNULL(I.Inv_BillDiscAmountBTax, 0)
          + ISNULL(I.Inv_BillDiscAmountATax, 0)
        ) AS [Gift / Disc],

        SUM(ISNULL(I.Inv_TaxableAmount, 0)) AS [Total Sales Amount],

        SUM(
            CASE
                WHEN II.InvI_Offer = 1
                     OR II.InvI_OfferID IS NOT NULL
                THEN ISNULL(II.InvI_DiscAmountBTax, 0)
                   + ISNULL(II.InvI_DiscAmountATax, 0)
                ELSE 0
            END
        ) AS [Promotion Sales],

        SUM(ISNULL(I.Inv_TaxAmount, 0)) AS [Tax],
        SUM(ISNULL(I.Inv_GrandTotal, 0)) AS [Net Sales Amount],

        @fromdate AS [From Date],
        @todate   AS [To Date],

        A.Address1,
        A.Place,
        A.Phone1,
        A.Email,
        A.WebSite,
		A.Country,
		A.City,
		A.State

    FROM Invoice I
    INNER JOIN @branchids B
        ON B.BrnID = I.BRNID
    INNER JOIN Branch BR
        ON BR.BrnID = I.BRNID
    INNER JOIN AllAddress A
        ON A.AddressId = BR.BrnAddressID
    INNER JOIN CounterMaster C
        ON C.CounterID = I.CounterID
    LEFT JOIN Invoice_Items II
        ON I.Inv_ID = II.InvI_InvID

    WHERE
        CONVERT(DATE, I.Inv_Date) BETWEEN @fromdate AND @todate
        AND ISNULL(I.Inv_Cancelled, 0) = 0
        AND (@countercode = '' OR C.CounterCode = @countercode)
        AND (@shiftid = 0 OR I.ShiftID = @shiftid)

    GROUP BY
        CONVERT(DATE, I.Inv_Date),
        I.BRNID,
        BR.BrnName,
        I.CounterID,
        C.CounterCode,
        I.ShiftID,
        A.Address1,
        --A.Address2,
        A.Phone1,
        A.Email,
        A.WebSite,
		A.Place,
		A.Country,
		A.City,
		A.State

    ORDER BY
        [Sales Date],
        [Branch Id];
END;


