USE [BERRI_X3_CLOUD_TEST]
GO
/****** Object:  StoredProcedure [dbo].[psp_REPORT_DAILY_SALES]    Script Date: 1/8/2026 12:58:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[psp_REPORT_DAILY_SALES]
(
    @fromdate   DATETIME,
    @todate     DATETIME,
    @fromhour   TIME(0) = NULL, 
    @tohour     TIME(0) = NULL	,
    @branchids  dbo.tp_BrnIds READONLY,
    @counterid  INT = 0,
    @shiftid    INT = 0
)
AS
BEGIN

	WITH SalesFiltered AS (
        SELECT
            CONVERT(DATE, S.SO_Date)              AS [Date],
            DATEPART(HOUR, S.SO_Time)              AS SalesHour,
            S.SO_ID,
            S.SO_GrandTotal                        AS Amount,
            S.ShiftID                              AS [Shift],
            S.CounterID                            AS [Counter],
            S.BRNID                                AS [Branch ID],
            B.BrnName                              AS [Branch Name]
        FROM SalesOrder S
        JOIN @branchids B
            ON B.BrnId = S.BRNID
        WHERE
            (@counterid = 0 OR S.CounterID = @counterid)
            AND (@shiftid = 0 OR S.ShiftID = @shiftid)
            AND CONVERT(DATE, S.SO_Date) BETWEEN @fromdate AND @todate
            AND (
                @fromhour IS NULL 
                OR @tohour IS NULL 
                OR CONVERT(TIME(0), S.SO_Time) BETWEEN @fromhour AND @tohour
            )
    )
    SELECT
        SF.[Date],
        RIGHT('0' + CAST(SF.SalesHour AS VARCHAR(2)), 2)
        + '-' +
        RIGHT('0' + CAST(SF.SalesHour + 1 AS VARCHAR(2)), 2)
                                                AS TimeFrame,
        COUNT(SF.SO_ID)                           AS [Bill Count],
        SUM(SF.Amount)                            AS [Amount],
        SF.[Shift],
        SF.[Counter],
        SF.[Branch ID],
        SF.[Branch Name],
        @fromdate                                 AS [From Date],
        @todate                                   AS [To Date]
    FROM SalesFiltered SF
    GROUP BY
        SF.[Date],
        SF.SalesHour,
        SF.[Shift],
        SF.[Counter],
        SF.[Branch ID],
        SF.[Branch Name]
    ORDER BY
        SF.[Date],
        SF.SalesHour;

END
