USE [BERRI_ANH]
GO
/****** Object:  StoredProcedure [dbo].[psp_TAX_REPORT_PURCHASE_RETURN_IW]    Script Date: 1/24/2026 12:11:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[psp_TAX_REPORT_PURCHASE_RETURN_IW]
(
    @reporttype  VARCHAR(50) = '',
    @branchids   dbo.tp_BrnIds READONLY,
    @fromdate    DATE = NULL,
    @todate      DATE = NULL
)
AS
BEGIN

    ;WITH Party AS
    (
        SELECT
            PM_AccID,
            MAX(PM_Code)      AS PM_Code,
            MAX(PM_LegalName) AS PM_LegalName,
            MAX(PM_TaxRegNo1) AS PM_TaxRegNo1
        FROM PartyMaster
        GROUP BY PM_AccID
    )
    SELECT
        PR.PR_Date              AS [DOC DATE],
        PR.PR_No                AS [DOC NO],
        @reporttype             AS [DOC TYPE],
        PR.PR_Date              AS [INV DATE],
        PR.PR_No                AS [INV NO],

        B.brnName               AS [DIVISION],
        'INWARD'                AS [SOURCE TYPE],

        PT.PM_Code              AS [PARTY CODE],
        PT.PM_LegalName         AS [PARTY NAME],
        PT.PM_TaxRegNo1         AS [VAT NO],

        A.Address1              AS [ADDRESS1],
        A.Place                 AS [PLACE],
        A.City                  AS [CITY],
        A.State                 AS [STATE],
        A.Country               AS [COUNTRY],
        A.Phone1                AS [PHONE],

        PR.PR_GrossAmount       AS [NET TAXABLE AMT],
        PR.PR_TaxAmount         AS [NET TAX AMT],
        PR.PR_RoundOff          AS [DISCOUNT / ROUND OFF]

    FROM Purchase_Return PR
    INNER JOIN Branch B
        ON B.brnId = PR.BRNID
    INNER JOIN @branchids BR
        ON BR.brnId = B.brnId
    LEFT JOIN Party PT
        ON PT.PM_AccID = PR.PR_SuppID
    LEFT JOIN AllAddress A
        ON A.AddressId = B.brnAddressID

    WHERE
        ISNULL(PR.PR_Cancelled, 0) = 0
        AND CONVERT(DATE, PR.PR_Date) BETWEEN @fromdate AND @todate

    ORDER BY
        PR.PR_Date,
        PR.PR_No;

END

