ALTER PROCEDURE [dbo].[psp_PROMOTION_ITEMS_SUMMARY]
(
    @fromdate   DATE,
    @todate     DATE,
    @branchids  dbo.tp_BrnIds READONLY,
	@division       VARCHAR(100) = '',
    @category       VARCHAR(100) = '',
    @subcategory    VARCHAR(100) = '',
	@department     VARCHAR(100) = ''

)
AS
BEGIN

    SELECT
		@fromdate               [From Date],
		@todate					[To Date],
        PI.PI_ItemCode          [Item Code],
        PI.PI_BarCode           [Barcode],
        PI.PI_ItemName          [Item Name],
        PI.PI_PMID              [Promotion ID],
        PI.PI_ActPrice          [Actual Price],
        PI.PI_DiscAmount        [Discount Amount],
        PI.PI_Price             [Promo Price],

		B.BrnName AS [BRANCH],
        A.Address1,
        A.Place,
        A.City,
        A.State,
        A.Country,
        A.Phone1

    FROM Promotion_Items PI
    INNER JOIN Branch B
        ON PI.BRNID = B.brnId
	LEFT JOIN AllAddress A
        ON B.brnAddressID = A.AddressId

	--WHERE
	--	CONVERT(DATE,) BETWEEN @fromdate AND @todate

END