USE [BERRI_ANH]
GO
/****** Object:  StoredProcedure [dbo].[psp_BRANCH_SUMMARY_SCALARS]    Script Date: 3/30/2026 10:47:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[psp_BRANCH_SUMMARY_SCALARS]
(
    @branchids  dbo.tp_BrnIds READONLY,
    @fromdate   DATE = NULL,
    @todate     DATE = NULL
)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE
        @TotalSales      DECIMAL(18,3),
        @TotalPurchases  DECIMAL(18,3),
        @TotalReturns    DECIMAL(18,3),
        @NumTransactions INT;

    SELECT
        @TotalSales      = ISNULL(SUM(I.Inv_GrandTotal), 0),
        @NumTransactions = COUNT(I.Inv_ID)
    FROM Invoice I
    INNER JOIN @branchids B ON B.BrnID = I.BRNID
    WHERE CONVERT(DATE, I.Inv_Date) BETWEEN @fromdate AND @todate
      AND ISNULL(I.Inv_Cancelled, 0) = 0
      AND ISNULL(I.Inv_Approve, 1) = 1;

    SELECT @TotalPurchases = ISNULL(SUM(PI.TI_TotalAmount), 0)
    FROM Purchase P
    INNER JOIN Purchase_Items PI ON PI.TI_MasterID = P.PRCH_ID
    INNER JOIN @branchids B ON B.BrnID = P.BRNID
    WHERE CONVERT(DATE, P.PRCH_Date) BETWEEN @fromdate AND @todate
      AND ISNULL(P.PRCH_Cancelled, 0) = 0;

    SELECT @TotalReturns = ISNULL(SUM(IR.IR_GrandTotal), 0)
    FROM InvoiceReturn IR
    INNER JOIN @branchids B ON B.BrnID = IR.BRNID
    WHERE CONVERT(DATE, IR.IR_Date) BETWEEN @fromdate AND @todate
      AND ISNULL(IR.IR_Cancelled, 0) = 0;

    SELECT
        @TotalSales                                          AS [Total Sales],
        @TotalPurchases                                      AS [Total Purchases],
        @TotalReturns                                        AS [Total Returns],
        @TotalSales - @TotalReturns                          AS [Net Revenue],
        @NumTransactions                                     AS [Transactions],
        CASE
			WHEN @NumTransactions = 0 THEN 0
			ELSE ROUND(CAST(@TotalSales AS DECIMAL(18,3)) / @NumTransactions, 3)
		END AS [Avg Basket Size]
END