USE [BERRI_X3_CLOUD_TEST]
GO
/****** Object:  StoredProcedure [dbo].[psp_Report_Setting_Get]    Script Date: 1/7/2026 12:12:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


ALTER procedure [dbo].[psp_Report_Setting_Get]
as
begin
	select 
			STG_LEVEL,
			STG_Group,
			STG_Code,
			STG_Desc,
			STG_Value
	from Settings
end