USE [BERRI_ANH]
GO
/****** Object:  StoredProcedure [dbo].[psp_TAX_REPORT_PURCHASE_INVOICE_WISE]    Script Date: 1/21/2026 2:59:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[psp_TAX_REPORT_PURCHASE_INVOICE_WISE]
(
    @reporttype  VARCHAR(50) = '',
    @branchids   dbo.tp_BrnIds READONLY,
    @fromdate    DATE = NULL,
    @todate      DATE = NULL
)
AS
BEGIN

    SELECT
        P.PRCH_No                                   AS [DOC NO],
        @reporttype                                AS [DOC TYPE],
        P.PRCH_InvDate                             AS [INV DATE],
        P.PRCH_InvNo                               AS [INV NO],
        B.brnName                                  AS [DIVISION],
        'INWARD'                                   AS [SOURCE TYPE],
        PM.PM_Code                                 AS [PARTY CODE],
        PM.PM_LegalName                            AS [PARTY NAME],
        PM.PM_TaxRegNo1                            AS [VAT NO],

        --CAST(0 AS DECIMAL(18,3))                   AS [TAXABLE 0%],
        --P.PRCH_TaxableAmount                       AS [TAXABLE 5%],
        --P.PRCH_TaxAmount                           AS [TAX 5%],

        P.PRCH_TaxableAmount                       AS [NET TAXABLE AMT],
        P.PRCH_TaxAmount                           AS [NET TAX AMT],

        --CAST(0 AS DECIMAL(18,3))                   AS [FOC TAXABLE AMT],
        --CAST(0 AS DECIMAL(18,3))                   AS [FOC TAX AMT],

        P.PRCH_RoundOff                            AS [DISCOUNT / ROUND OFF]

    FROM Purchase P
    INNER JOIN PartyMaster PM
        ON PM.PM_ID = P.PRCH_SupplierID
    INNER JOIN Branch B
        ON B.brnId = P.BRNID
    INNER JOIN @branchids BR
        ON BR.brnId = B.brnId

    WHERE
        P.PRCH_Cancelled = 0
        AND CONVERT(DATE, P.PRCH_Date) BETWEEN @fromdate AND @todate

END

