USE [BERRI_ANH]
GO
/****** Object:  StoredProcedure [dbo].[psp_REPORT_PERIODIC_SALES_DETAILED]    Script Date: 1/13/2026 4:18:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[psp_REPORT_PERIODIC_SALES_DETAILED]
(    
    @fromdate    DATE,
    @todate      DATE,
    @branchids   dbo.tp_BrnIds READONLY,
    @countercode VARCHAR(50) = '',
    @shiftid     INT = 0
)
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        I.Inv_No                          AS [Bill No],
        CONVERT(DATE, I.Inv_Date)         AS [Bill Date],
        I.BRNID                           AS [Branch Id],
        B.BrnName                         AS [Branch Name],
        CM.CounterCode                    AS [Counter Code],
        I.ShiftID                         AS [Shift Id],
        ISNULL(I.Inv_TaxableAmount, 0)    AS [Sales Amount],
        ISNULL(I.Inv_TaxAmount, 0)        AS [Tax],
        ISNULL(I.Inv_GrandTotal, 0)       AS [Net Sales Amount],
        ISNULL(I.Inv_CashAmount, 0)       AS [Cash],
        ISNULL(I.Inv_CardAmount, 0)       AS [Card],
        ISNULL(I.Inv_CreditAmount, 0)     AS [Credit],
        (ISNULL(I.Inv_GVoucherAmount, 0)
         + ISNULL(I.Inv_BillDiscAmountBTax, 0)
         + ISNULL(I.Inv_BillDiscAmountATax, 0)) AS [Gift / Disc],
        @fromdate AS [From Date],
        @todate   AS [To Date],
        A.Address1,
        A.Place,
        A.Phone1,
        --A.Email,
        --A.WebSite
		A.Country,
		A.City

    FROM Invoice I
    INNER JOIN @branchids B
        ON B.BrnID = I.BRNID
    INNER JOIN Branch BR
        ON BR.brnId = I.BRNID
    JOIN AllAddress A
        ON BR.brnAddressID = A.AddressId
    LEFT JOIN CounterMaster CM
        ON CM.CounterID = I.CounterID
    WHERE
        CONVERT(DATE, I.Inv_Date) BETWEEN @fromdate AND @todate
        AND ISNULL(I.Inv_Cancelled, 0) = 0
        AND (@countercode = ''  OR CM.CounterCode = @countercode)
        AND (@shiftid = 0 OR I.ShiftID = @shiftid)
    ORDER BY
        I.Inv_Date,
        I.Inv_No;
END;
