USE [BERRI_X3_CLOUD_TEST]
GO
/****** Object:  StoredProcedure [dbo].[	]    Script Date: 1/8/2026 9:08:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[psp_REPORT_PURCHASE_DEPARTMENT_CATEGORY]
(
	@fromdate  DATE = null,
	@todate    DATE = null,
	@branchids  [dbo].[tp_BrnIds]  readonly,	
	@report    VARCHAR(50) = '',
	@division  VARCHAR(100) = '',
	@branchname  VARCHAR(200) = ''
)
AS
BEGIN 
     SELECT
		BM.brnCode				[Branch Code],
        BM.brnName				[Branch Name],

        IMC.DepartmentCode      [Department Code],
        IMC.DepartmentName      [Department Name],
        IMC.DivisionCode        [Division Code],
        IMC.DivisionName        [Division Name],
        IMC.CategoryCode        [Category Code],
        IMC.CategoryName        [Category Name],

        SUM(PI.TI_TotalAmount)  [Total Amount],
        SUM(PI.TI_TotalAmount)  [Net Amount],

        @fromdate               [From Date],
        @todate                 [To Date],
        @report                 [Report Type]

    FROM Purchase P
    JOIN Purchase_Items PI
        ON PI.TI_MasterID = P.PRCH_ID
    JOIN ItemMaster_Classification IMC
        ON IMC.ItemCode = PI.TI_ItemCode
    JOIN @branchids B
        ON B.BrnID = P.BRNID
    JOIN Branch BM
        ON BM.BRNID = P.BRNID
    WHERE
        CONVERT(DATE, P.PRCH_Date) BETWEEN @fromdate AND @todate
        AND (@division = '' OR IMC.DivisionName = @division)
		AND (@branchname = '' OR BM.brnName = @branchname)
    GROUP BY
        BM.brnCode,
        BM.brnName,
        IMC.DepartmentCode,
        IMC.DepartmentName,
        IMC.DivisionCode,
        IMC.DivisionName,
        IMC.CategoryCode,
        IMC.CategoryName
    ORDER BY
        BM.brnName,
        IMC.DivisionName,
        IMC.CategoryName
END