USE [BERRI_ANH]
GO
/****** Object:  StoredProcedure [dbo].[psp_TAX_REPORT_INVOICE_RETURN_WISE]    Script Date: 1/22/2026 9:16:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[psp_TAX_REPORT_INVOICE_RETURN_WISE]
(
    @reporttype  VARCHAR(50) = '',
    @branchids   dbo.tp_BrnIds READONLY,
    @fromdate    DATE = NULL,
    @todate      DATE = NULL
)
AS
BEGIN

    ;WITH Party AS
    (
        SELECT
            PM_AccID,
            MAX(PM_Code)        AS PM_Code,
            MAX(PM_LegalName)   AS PM_LegalName,
            MAX(PM_TaxRegNo1)   AS PM_TaxRegNo1
        FROM PartyMaster
        GROUP BY PM_AccID
    )
    SELECT
        IR.IR_ID                                                   AS [IR ID],
        IR.IR_No                                                   AS [DOC NO],
        @reporttype                                                AS [DOC TYPE],
        IR.IR_Date                                                 AS [INV DATE],
        IR.IR_No                                                   AS [INV NO],
        B.brnName                                                  AS [DIVISION],
        'OUTWARD'                                                  AS [SOURCE TYPE],

        P.PM_Code                                                  AS [PARTY CODE],
        P.PM_LegalName                                             AS [PARTY NAME],
        P.PM_TaxRegNo1                                             AS [VAT NO],

        SUM(CASE 
                WHEN IRI.IRI_TaxPer = 0
                     AND ISNULL(IRI.IRI_Quantity,0) > 0
                THEN IRI.IRI_TaxableAmount
                ELSE 0
            END)                                                   AS [TAXABLE 0%],

        SUM(CASE 
                WHEN IRI.IRI_TaxPer = 5
                     AND ISNULL(IRI.IRI_Quantity,0) > 0
                THEN IRI.IRI_TaxableAmount
                ELSE 0
            END)                                                   AS [TAXABLE 5%],

        SUM(CASE 
                WHEN IRI.IRI_TaxPer = 5
                     AND ISNULL(IRI.IRI_Quantity,0) > 0
                THEN IRI.IRI_TaxAmount
                ELSE 0
            END)                                                   AS [TAX 5%],

        SUM(CASE 
                WHEN ISNULL(IRI.IRI_Quantity,0) > 0
                THEN IRI.IRI_TaxableAmount
                ELSE 0
            END)                                                   AS [NET TAXABLE AMT],

        SUM(CASE 
                WHEN ISNULL(IRI.IRI_Quantity,0) > 0
                THEN IRI.IRI_TaxAmount
                ELSE 0
            END)                                                   AS [NET TAX AMT],

        IR.IR_RoundOff                                             AS [DISCOUNT / ROUND OFF]

    FROM InvoiceReturn IR
    INNER JOIN InvoiceReturn_Items IRI
        ON IRI.IRI_IRID = IR.IR_ID
    INNER JOIN Branch B
        ON B.brnId = IR.BRNID
    LEFT JOIN Party P
        ON P.PM_AccID = IR.IR_CustAccID

    WHERE
        CONVERT(DATE, IR.IR_Date) BETWEEN @fromdate AND @todate
        AND ISNULL(IR.IR_Cancelled, 0) = 0
        AND IR.BRNID IN (SELECT BrnID FROM @branchids)

    GROUP BY
        IR.IR_ID,
        IR.IR_No,
        IR.IR_Date,
        B.brnName,
        P.PM_Code,
        P.PM_LegalName,
        P.PM_TaxRegNo1,
        IR.IR_RoundOff

    ORDER BY
        IR.IR_Date,
        IR.IR_No;

END


