USE [BERRI_ANH]
GO
/****** Object:  StoredProcedure [dbo].[psp_REPORT_PRODUCT_SALES_DEPARTMENT]    Script Date: 1/20/2026 11:35:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[psp_REPORT_PRODUCT_SALES_DEPARTMENT]
(
    @department     VARCHAR(100) = '',
    @fromdate       DATE = NULL,
    @todate         DATE = NULL,
    @branchids      dbo.tp_BrnIds READONLY,
    @reporttype     VARCHAR(50) = '',
    @division       VARCHAR(100) = '',
    @category       VARCHAR(100) = '',
    @subcategory    VARCHAR(100) = ''
)
AS
BEGIN
    SET NOCOUNT ON;

    ;WITH InvoiceBase AS
    (
        SELECT
            I.Inv_ID,
            I.BRNID,
            I.Inv_CashAmount,
            I.Inv_CardAmount,
            I.Inv_CreditAmount,
            SUM(II.InvI_NetAmount) AS InvoiceNet
        FROM Invoice I
        JOIN Invoice_Items II
            ON II.InvI_InvID = I.Inv_ID
        JOIN @branchids B
            ON B.BrnId = I.BRNID
        WHERE
            CONVERT(DATE, I.Inv_Date) BETWEEN @fromdate AND @todate
            AND ISNULL(I.Inv_Cancelled, 0) = 0
        GROUP BY
            I.Inv_ID,
            I.BRNID,
            I.Inv_CashAmount,
            I.Inv_CardAmount,
            I.Inv_CreditAmount
    )
    SELECT
        B.BrnName                                                                                                                   AS [BRANCH],
        D.MST_Code                                                                                                                  AS [Department Code],
        D.MST_Desc                                                                                                                  AS [DEPARTMENT],
		@fromdate																													AS [From Date],
		@todate																														AS [To Date],
        A.Address1,
        A.Place,
        A.City,
        A.State,
        A.Country,
        A.Phone1,
        SUM((II.InvI_NetAmount / IB.InvoiceNet) * IB.Inv_CashAmount)                                                                AS [CASH SALES],
        SUM((II.InvI_NetAmount / IB.InvoiceNet) * IB.Inv_CardAmount)                                                                AS [CARD SALES],
        SUM((II.InvI_NetAmount / IB.InvoiceNet) * IB.Inv_CreditAmount)                                                              AS [CREDIT SALES],
		SUM(II.InvI_GrossValue)																										AS [GROSS AMOUNT],
        SUM(II.InvI_NetAmount)																									    AS [NET SALES],
        SUM(II.InvI_TaxAmount)																									    AS [TAX AMOUNT],
        ABS(SUM(II.InvI_Quantity * II.InvI_LC))																					    AS [COST OF SALE],
        ABS(SUM(II.InvI_NetAmount) - SUM(II.InvI_Quantity * II.InvI_LC))                                                            AS [PROFIT AMOUNT],
        ABS(((SUM(II.InvI_NetAmount)- SUM(II.InvI_Quantity * II.InvI_LC)  ) / NULLIF(SUM(II.InvI_NetAmount), 0)) * 100)             AS [PROFIT %]

    FROM Invoice_Items II
    JOIN InvoiceBase IB
        ON IB.Inv_ID = II.InvI_InvID
    JOIN Invoice I
        ON I.Inv_ID = IB.Inv_ID
    JOIN Branch BR
        ON BR.BrnId = I.BRNID
    LEFT JOIN AllAddress A
        ON A.AddressId = BR.brnAddressID
    JOIN ItemMaster IM
        ON IM.ItemID = II.InvI_ItemID
    JOIN Masters D
        ON D.MST_Type = 'ITEMDEPT'
       AND D.MST_Code = IM.itemDepartmentCode
    JOIN @branchids B
        ON B.BrnId = I.BRNID

    WHERE
        (@department = '' OR D.MST_Desc = @department)

    GROUP BY
        B.BrnName,
        D.MST_Code,
        D.MST_Desc,
        A.Address1,
        A.Place,
        A.City,
        A.State,
        A.Country,
        A.Phone1

    ORDER BY
        B.BrnName,
        D.MST_Desc;
END
