USE [BERRI_ANH]
GO
/****** Object:  StoredProcedure [dbo].[psp_TR_PURCHASE_ITW]    Script Date: 1/26/2026 4:55:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[psp_TR_PURCHASE_ITW]
(
    @reporttype  VARCHAR(50) = '',
    @branchids   dbo.tp_BrnIds READONLY,
    @fromdate    DATE = NULL,
    @todate      DATE = NULL
)
AS
BEGIN

    ;WITH Party AS
    (
        SELECT
            PM_ID,
            MAX(PM_Code)      AS PM_Code,
            MAX(PM_LegalName) AS PM_LegalName,
            MAX(PM_TaxRegNo1) AS PM_TaxRegNo1
        FROM PartyMaster
        GROUP BY PM_ID
    )
    SELECT
        P.PRCH_No                        AS [DOC NO],
        @reporttype                      AS [DOC TYPE],
        P.PRCH_InvDate                   AS [INV DATE],
        P.PRCH_InvNo                     AS [INV NO],

        B.brnName                        AS [DIVISION],
        'INWARD'                         AS [SOURCE TYPE],

        PT.PM_Code                       AS [PARTY CODE],
        PT.PM_LegalName                  AS [PARTY NAME],
        PT.PM_TaxRegNo1                  AS [VAT NO],

        TI.TI_ItemCode                   AS [ITEM CODE],
        TI.TI_ItemName                   AS [ITEM NAME],

        TI.TI_TaxableAmount              AS [NET TAXABLE AMT],
        TI.TI_TaxAmount                  AS [NET TAX AMT],

        CASE 
            WHEN TI.TI_Taxable = 0 
            THEN TI.TI_FOCValue 
            ELSE 0 
        END                              AS [FOC TAXABLE AMT],

        CASE 
            WHEN TI.TI_Taxable = 0 
                 AND TI.TI_TaxOnFree = 1
            THEN TI.TI_TaxAmount 
            ELSE 0 
        END                              AS [FOC TAX AMT],

        P.PRCH_RoundOff                  AS [DISCOUNT / ROUND OFF]

    FROM Purchase P
    INNER JOIN Purchase_Items TI
        ON TI.TI_MasterID = P.PRCH_ID
    INNER JOIN Branch B
        ON B.brnId = P.BRNID
    INNER JOIN @branchids BR
        ON BR.brnId = B.brnId
    LEFT JOIN Party PT
        ON PT.PM_ID = P.PRCH_SupplierID

    WHERE
        P.PRCH_Cancelled = 0
        AND CONVERT(DATE, P.PRCH_InvDate) BETWEEN @fromdate AND @todate

    ORDER BY
        P.PRCH_InvDate,
        P.PRCH_No,
        TI.TI_ItemCode;

END
