USE [BERRI_ANH]
GO
/****** Object:  StoredProcedure [dbo].[psp_REPORT_REPACKING_DETAILS_SUMMARY]    Script Date: 2/8/2026 11:50:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[psp_REPORT_REPACKING_DETAILS_SUMMARY]
(
    @fromdate     DATE,
    @todate       DATE,
    @branchids    dbo.tp_BrnIds READONLY,
    @division     VARCHAR(100) = '',
    @category     VARCHAR(100) = '',
    @subcategory  VARCHAR(100) = '',
    @department   VARCHAR(100) = '',
    @barcode      VARCHAR(30) = '',
    @itemcode     INT = 0
)
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        CONVERT(DATE, RM.RM_Date) AS [Date],
        BR.BRNID                 AS [Branch Id],
        BR.BrnName               AS [Branch Name],
        @fromdate                AS [From Date],
        @todate                  AS [To Date],

        IM.ItemCode              AS [Item Code],
        RI.RI_ItemName           AS [Item Name],
        RI.RI_Barcode            AS [Barcode],	
        RI.RI_UnitCode           AS [Unit],

        RI.RI_Quantity           AS [Quantity Consumed],
        RI.RI_LC                 AS [Landing Cost],
        RI.RI_Quantity * RI.RI_LC AS [Value],

        DV.MST_Desc              AS [Division],
        DP.MST_Desc              AS [Department],
        CT.MST_Desc              AS [Category],
        SC.MST_Desc              AS [Sub Category],

        AD.Address1              AS [Address],
        AD.Place,
        AD.City,
        AD.Country,
        AD.Phone1

    FROM Repacking_Master RM
    JOIN Repacking_Items RI
        ON RM.RM_ID = RI.RI_RMID

    JOIN Branch BR
        ON BR.BrnId = RI.BRNID

    JOIN @branchids B
        ON B.BrnId = BR.BRNID

    LEFT JOIN AllAddress AD
        ON AD.AddressId = BR.brnAddressID

    JOIN ItemMaster IM
        ON IM.ItemID = RI.RI_ItemID

    JOIN Masters DP
        ON DP.MST_Type = 'ITEMDEPT'
       AND DP.MST_Code = IM.itemDepartmentCode

    JOIN Masters DV
        ON DV.MST_Type = 'ITEMDIVISN'
       AND DV.MST_Code = IM.itemDivisionCode

    JOIN Masters CT
        ON CT.MST_Type = 'ITEMCAT'
       AND CT.MST_Code = IM.itemCategoryCode

    JOIN Masters SC
        ON SC.MST_Type = 'ITEMSUBCAT'
       AND SC.MST_Code = IM.itemSubCategoryCode

    WHERE
        RM.RM_Date BETWEEN @fromdate AND @todate
        AND RI.RI_Type = 'IN'                -- key fix
        AND (@department  = '' OR DP.MST_Desc = @department)
        AND (@division    = '' OR DV.MST_Desc = @division)
        AND (@category    = '' OR CT.MST_Desc = @category)
        AND (@subcategory = '' OR SC.MST_Desc = @subcategory)
        AND (@barcode     = '' OR RI.RI_Barcode = @barcode)
        AND (@itemcode    = 0  OR RI.RI_ItemID = @itemcode)

END

