USE [BERRI_ANH]
GO
/****** Object:  StoredProcedure [dbo].[psp_REPORT_CANCELLED_ITEMS_SUMMARY]    Script Date: 1/14/2026 3:30:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[psp_REPORT_CANCELLED_ITEMS_SUMMARY] 
(
    @fromdate   DATE,
    @todate     DATE,
    @branchids  dbo.tp_BrnIds READONLY
)
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        CONVERT(DATE, I.Inv_Date)                 AS [Invoice Date],
        I.BRNID                                   AS [Branch Id],
        BR.BrnName                                AS [Branch Name],
		@fromdate                                 AS [From Date],
		@todate                                   AS [To Date],
        A.Address1,
        A.Place,
        A.City,
        A.State,
        A.Country,
        A.Phone1,
        A.Email,
        A.WebSite,

        COUNT(*)                                  AS [Cancelled Invoice Count],
        --SUM(ISNULL(I.Inv_NoOfItems, 0))           AS [Total Cancelled Items],
        SUM(ISNULL(I.Inv_GrossAmount, 0))         AS [Gross Amount],
        SUM(ISNULL(I.Inv_TaxAmount, 0))           AS [Tax Amount],
        --SUM(ISNULL(I.Inv_RoundOff, 0))            AS [Round Off Amount],
        SUM(ISNULL(I.Inv_GrandTotal, 0))          AS [Cancelled Amount],
        SUM(ISNULL(I.Inv_CashAmount, 0))          AS [Cash Amount],
        SUM(ISNULL(I.Inv_CardAmount, 0))          AS [Card Amount],
        SUM(ISNULL(I.Inv_UPIAmount, 0))           AS [UPI Amount],
        SUM(ISNULL(I.Inv_CreditAmount, 0))        AS [Credit Amount]

    FROM Invoice I
    INNER JOIN @branchids B
        ON B.BrnID = I.BRNID
    INNER JOIN Branch BR
        ON BR.BrnID = I.BRNID
    INNER JOIN AllAddress A
        ON BR.BrnAddressID = A.AddressId
    WHERE
        I.Inv_Cancelled = 1
        AND CONVERT(DATE, I.Inv_Date) BETWEEN @fromdate AND @todate
    GROUP BY
        CONVERT(DATE, I.Inv_Date),
        I.BRNID,
        BR.BrnName,
        A.Address1,
        A.Place,
        A.City,
        A.State,
        A.Country,
        A.Phone1,
        A.Email,
        A.WebSite
    ORDER BY
        [Invoice Date],
        [Branch Name];
END

