USE [BERRI_ANH]
GO
/****** Object:  StoredProcedure [dbo].[psp_PROMOTION_DETAILS]    Script Date: 2/28/2026 10:20:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[psp_PROMOTION_DETAILS]
(	
	@fromdate   DATE,
    @todate     DATE,
    @branchids  dbo.tp_BrnIds READONLY,
	@TopCount  Int = 50
)
AS
BEGIN
	SET NOCOUNT ON;

    SELECT TOP (@TopCount)
        PM.PM_Caption               [Promotion],
		@fromdate					[From Date],
		@todate						[To Date],
        PM.PM_StartDate,
        PM.PM_EndDate,
        PI.PI_ItemCode,
        PI.PI_ItemName,
        SUM(II.InvI_Quantity)		[Quantity],
        SUM(II.InvI_NetAmount)		[Total Sales],

		B.BrnName					[Branch],
        A.Address1,
        A.City,
        A.State,
        A.Country


    FROM Invoice_Items II
    INNER JOIN Promotion_Items PI
        ON PI.PI_ItemCode = II.InvI_ItemCode
    INNER JOIN Promotion_Master PM
        ON PM.PM_ID = PI.PI_PMID
	INNER JOIN Branch B
        ON PI.BRNID = B.brnId
	LEFT JOIN AllAddress A
        ON B.brnAddressID = A.AddressId
	INNER JOIN @branchids BR
        ON BR.brnId = II.BRNID

    WHERE 
        II.EntryDate BETWEEN @fromdate AND @todate    
        AND II.EntryDate BETWEEN PM.PM_StartDate AND PM.PM_EndDate

    GROUP BY
        PM.PM_Caption,
        PM.PM_StartDate,
        PM.PM_EndDate,
        PI.PI_ItemCode,
        PI.PI_ItemName,
		B.brnName,
		A.Address1,
        A.City,
        A.State,
        A.Country

    ORDER BY
        SUM(II.InvI_Quantity) DESC
END
