USE [BERRI_X3_CLOUD_TEST]
GO
/****** Object:  StoredProcedure [dbo].[psp_REPORT_PRODUCT_SALES_DIVISION]    Script Date: 1/8/2026 10:11:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[psp_REPORT_PRODUCT_SALES_DIVISION]
(
    @division       VARCHAR(100) = '',
    @fromdate       DATE = NULL,
    @todate         DATE = NULL,
    @branchids      dbo.tp_BrnIds READONLY,
    @reporttype     VARCHAR(50) = '',
    @paytype        VARCHAR(10) = '' ,
	@department   VARCHAR(100) = '',
	@category     VARCHAR(100) = '',
	@subcategory  VARCHAR(100) = ''
)
AS
BEGIN
    SET NOCOUNT ON;
    WITH InvoiceBase AS
    (
        SELECT
            I.Inv_Id,
            I.BRNID,
            I.Inv_PayMode,
            I.Inv_CashAmount,
            I.Inv_CreditAmount
        FROM Invoice I
        JOIN @branchids B
            ON B.BrnId = I.BRNID
        WHERE
            CONVERT(DATE, I.Inv_Date) BETWEEN @fromdate AND @todate
    )

    SELECT
        @reporttype                 AS [REPORT TYPE],
        @fromdate                   AS [FROM DATE],
        @todate                     AS [TO DATE],
        B.BrnName                   AS [BRANCH],

        IMC.DivisionCode,
        IMC.DivisionName            AS [DIVISION],


        SUM(
            CASE 
                WHEN @paytype IN ('Both', 'Cash')
                     AND IB.Inv_PayMode LIKE '%CASH%'
                THEN IB.Inv_CashAmount
                ELSE 0
            END
        ) AS [CASH SALES],


        SUM(
            CASE 
                WHEN @paytype IN ('Both', 'Credit')
                     AND IB.Inv_PayMode LIKE '%CREDIT%'
                THEN IB.Inv_CreditAmount
                ELSE 0
            END
        ) AS [CREDIT SALES],

		SUM(II.InvI_GrossValue)    AS [Gross Amount],

        SUM(II.InvI_NetAmount)      AS [NET SALES],
        SUM(II.InvI_TaxAmount)      AS [TAX AMOUNT],
        SUM(II.InvI_Quantity * II.InvI_LC)  AS [COST OF SALE],

        SUM(II.InvI_NetAmount)
        - SUM(II.InvI_Quantity * II.InvI_LC) AS [PROFIT AMOUNT],

        (
            (SUM(II.InvI_NetAmount)
             - SUM(II.InvI_Quantity * II.InvI_LC))
            / NULLIF(SUM(II.InvI_NetAmount), 0)
        ) * 100                     AS [PROFIT %]

    FROM Invoice_Items II
    JOIN InvoiceBase IB
        ON IB.Inv_Id = II.InvI_InvNo
    JOIN Invoice I
        ON I.Inv_Id = IB.Inv_Id
    JOIN ItemMaster_Classification IMC
        ON IMC.ItemCode = II.InvI_ItemCode
    JOIN @branchids B
        ON B.BrnId = I.BRNID

    WHERE
        (@division = '' OR IMC.DivisionName = @division)

    GROUP BY
        IMC.DivisionCode,
        IMC.DivisionName,
        B.BrnName;
END
