USE [BERRI_ANH]
GO
/****** Object:  StoredProcedure [dbo].[psp_REPORT_PRODUCT_SALES_CATEGORY]    Script Date: 1/20/2026 10:11:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[psp_REPORT_PRODUCT_SALES_CATEGORY]
(
    @department     VARCHAR(100) = '',
    @fromdate       DATE = NULL,
    @todate         DATE = NULL,
    @branchids      dbo.tp_BrnIds READONLY,
    @reporttype     VARCHAR(50) = '',
    @paytype        VARCHAR(10) = '',
    @division       VARCHAR(100) = '',
    @category       VARCHAR(100) = '',
    @subcategory    VARCHAR(100) = ''
)
AS
BEGIN
    SET NOCOUNT ON;

    ;WITH InvoiceBase AS
    (
        SELECT
            I.Inv_ID,
            I.BRNID,
            I.Inv_CashAmount,
            I.Inv_CardAmount,
            I.Inv_CreditAmount,
            SUM(II.InvI_NetAmount) AS InvoiceNet
        FROM Invoice I
        JOIN Invoice_Items II
            ON II.InvI_InvID = I.Inv_ID
        JOIN @branchids B
            ON B.BrnId = I.BRNID
        WHERE
            CONVERT(DATE, I.Inv_Date) BETWEEN @fromdate AND @todate
            AND ISNULL(I.Inv_Cancelled, 0) = 0
        GROUP BY
            I.Inv_ID,
            I.BRNID,
            I.Inv_CashAmount,
            I.Inv_CardAmount,
            I.Inv_CreditAmount
    )
    SELECT
        @fromdate AS [FROM DATE],
        @todate   AS [TO DATE],

        B.BrnName AS [BRANCH],

        A.Address1,
        A.Place,
        A.City,
        A.State,
        A.Country,
        A.Phone1,

        DV.MST_Desc AS [DIVISION],
        DP.MST_Desc AS [DEPARTMENT],

        CT.MST_Code AS [Category Code],
        CT.MST_Desc AS [CATEGORY],

        SUM((II.InvI_NetAmount / IB.InvoiceNet) * IB.Inv_CashAmount)   AS [CASH SALES],
        SUM((II.InvI_NetAmount / IB.InvoiceNet) * IB.Inv_CardAmount)   AS [CARD SALES],
        SUM((II.InvI_NetAmount / IB.InvoiceNet) * IB.Inv_CreditAmount) AS [CREDIT SALES],

        SUM(II.InvI_GrossValue) AS [GROSS AMOUNT],
        SUM(II.InvI_NetAmount)  AS [NET SALES],
        SUM(II.InvI_TaxAmount)  AS [TAX AMOUNT],

        ABS(SUM(II.InvI_Quantity * II.InvI_LC)) AS [COST OF SALE],

        ABS(
            SUM(II.InvI_NetAmount)
          - SUM(II.InvI_Quantity * II.InvI_LC)
        ) AS [PROFIT AMOUNT],

        ABS(
            (
                (
                    SUM(II.InvI_NetAmount)
                  - SUM(II.InvI_Quantity * II.InvI_LC)
                )
                / NULLIF(SUM(II.InvI_NetAmount), 0)
            ) * 100
        ) AS [PROFIT %]

    FROM Invoice_Items II
    JOIN InvoiceBase IB
        ON IB.Inv_ID = II.InvI_InvID
    JOIN Invoice I
        ON I.Inv_ID = IB.Inv_ID
    JOIN Branch BR
        ON BR.BrnId = I.BRNID
    LEFT JOIN AllAddress A
        ON A.AddressId = BR.brnAddressID
    JOIN ItemMaster IM
        ON IM.ItemID = II.InvI_ItemID
    JOIN Masters CT
        ON CT.MST_Type = 'ITEMCAT'
       AND CT.MST_Code = IM.itemCategoryCode
    JOIN Masters DV
        ON DV.MST_Type = 'ITEMDIVISN'
       AND DV.MST_Code = IM.itemDivisionCode
    JOIN Masters DP
        ON DP.MST_Type = 'ITEMDEPT'
       AND DP.MST_Code = IM.itemDepartmentCode
    JOIN @branchids B
        ON B.BrnId = I.BRNID

    WHERE
        (@division   = '' OR DV.MST_Desc = @division)
        AND (@department = '' OR DP.MST_Desc = @department)
        AND (@category = '' OR CT.MST_Desc = @category)

    GROUP BY
        B.BrnName,
        A.Address1,
        A.Place,
        A.City,
        A.State,
        A.Country,
        A.Phone1,
        DV.MST_Desc,
        DP.MST_Desc,
        CT.MST_Code,
        CT.MST_Desc

    ORDER BY
        B.BrnName,
        DV.MST_Desc,
        DP.MST_Desc,
        CT.MST_Desc;
END
GO
