USE [BERRI_ANH]
GO
/****** Object:  StoredProcedure [dbo].[psp_TR_INVOICE_IW]    Script Date: 1/26/2026 4:54:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[psp_TR_INVOICE_IW]
(
    @reporttype  VARCHAR(50) = '',
    @branchids   dbo.tp_BrnIds READONLY,
    @fromdate    DATE = NULL,
    @todate      DATE = NULL
)
AS
BEGIN

    SELECT
        I.Inv_No                                                     AS [DOC NO],
        @reporttype                                                  AS [DOC TYPE],
        I.Inv_Date                                                   AS [INV DATE],
        I.Inv_No                                                     AS [INV NO],
        B.brnName                                                    AS [DIVISION],
        'OUTWARD'                                                    AS [SOURCE TYPE],


        SUM(CASE 
                WHEN II.InvI_TaxPer = 0
                     AND ISNULL(II.InvI_Free,0) = 0
                THEN II.InvI_TaxableAmount 
                ELSE 0 
            END)                                                     AS [TAXABLE 0%],

        SUM(CASE 
                WHEN II.InvI_TaxPer = 5 
                     AND ISNULL(II.InvI_Free,0) = 0
                THEN II.InvI_TaxableAmount 
                ELSE 0 
            END)                                                     AS [TAXABLE 5%],

        SUM(CASE 
                WHEN II.InvI_TaxPer = 5 
                     AND ISNULL(II.InvI_Free,0) = 0
                THEN II.InvI_TaxAmount 
                ELSE 0 
            END)                                                     AS [TAX 5%],

        SUM(CASE 
                WHEN ISNULL(II.InvI_Free,0) = 0
                THEN II.InvI_TaxableAmount 
                ELSE 0 
            END)                                                     AS [NET TAXABLE AMT],

        SUM(CASE 
                WHEN ISNULL(II.InvI_Free,0) = 0
                THEN II.InvI_TaxAmount 
                ELSE 0 
            END)                                                     AS [NET TAX AMT],

        SUM(CASE 
                WHEN ISNULL(II.InvI_Free,0) = 1
                THEN II.InvI_TaxableAmount 
                ELSE 0 
            END)                                                     AS [FOC TAXABLE AMT],

        SUM(CASE 
                WHEN ISNULL(II.InvI_Free,0) = 1
                THEN II.InvI_TaxAmount 
                ELSE 0 
            END)                                                     AS [FOC TAX AMT],

        I.Inv_RoundOff                                               AS [DISCOUNT / ROUND OFF]

    FROM Invoice I
    INNER JOIN Invoice_Items II
        ON II.InvI_InvID = I.Inv_ID
    INNER JOIN Branch B
        ON B.brnId = I.BRNID
    INNER JOIN @branchids BR
        ON BR.brnId = B.brnId

    WHERE
        CONVERT(DATE, I.Inv_Date) BETWEEN @fromdate AND @todate
        AND ISNULL(I.Inv_Cancelled, 0) = 0

    GROUP BY
        I.Inv_No,
        I.Inv_Date,
        B.brnName,
        I.Inv_CustID,
        I.Inv_CustTaxRegNo,
        I.Inv_RoundOff

    ORDER BY
        I.Inv_Date,
        I.Inv_No;

END
