USE [BERRI_ANH]
GO
/****** Object:  StoredProcedure [dbo].[psp_REPORT_SUPPLIER_WISE_PRODUCT_LIST]    Script Date: 2/15/2026 2:51:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[psp_REPORT_SUPPLIER_WISE_PRODUCT_LIST]
(
    @branchids    [dbo].[tp_BrnIds] READONLY,
    @supplier     VARCHAR(100) = '',
    @department   VARCHAR(100) = '',
    @division     VARCHAR(100) = '',
    @category     VARCHAR(100) = ''
)
AS
BEGIN
    SELECT DISTINCT
        IM.ItemCode              AS ItemCode,
        IMU.IM_BarCode           AS Barcode,
        IM.itemItemName          AS ItemName,
        ISP.ISP_UnitCost         AS UnitCost,
        IMU.IM_UnitCode          AS UnitCode,
        IMU.IM_UnitRatio         AS PackSize,
        IMU.IM_SellPrice         AS Price,
        PM.PM_LegalName          AS SupplierName,
        B.brnName                AS BranchName,

        DP.MST_Desc              AS DepartmentName,
        DV.MST_Desc              AS DivisionName,
        CT.MST_Desc              AS CategoryName,

        AA.Address1,
        AA.Place,
        AA.City,
        AA.State,
        AA.Country,
        AA.Phone1

    FROM dbo.ItemMaster IM

    INNER JOIN dbo.ItemMaster_SupplierPrice ISP
        ON ISP.ISP_ItemID = IM.ItemID

    INNER JOIN dbo.ItemMultiUnit IMU
        ON IM.ItemID = IMU.IM_ItemID

    INNER JOIN dbo.PartyMaster PM
        ON PM.PM_ID = ISP.ISP_SuppID

    INNER JOIN dbo.Branch B
        ON B.BRNID = ISP.BRNID

    LEFT JOIN dbo.AllAddress AA
        ON AA.AddressId = B.brnAddressID  

    INNER JOIN @branchids DB
        ON DB.BrnID = B.BRNID

    LEFT JOIN Masters DP
        ON DP.MST_Type = 'ITEMDEPT'
       AND DP.MST_Code = IM.itemDepartmentCode

    LEFT JOIN Masters DV
        ON DV.MST_Type = 'ITEMDIVISN'
       AND DV.MST_Code = IM.itemDivisionCode

    LEFT JOIN Masters CT
        ON CT.MST_Type = 'ITEMCAT'
       AND CT.MST_Code = IM.itemCategoryCode

    WHERE 
        (@supplier   = '' OR PM.PM_LegalName = @supplier)
        AND (@department = '' OR DP.MST_Desc = @department)
        AND (@division   = '' OR DV.MST_Desc = @division)
        AND (@category   = '' OR CT.MST_Desc = @category)
END

