USE [BERRI_ANH]
GO
/****** Object:  StoredProcedure [dbo].[psp_PROMOTION_ITEMS_DETAILED]    Script Date: 3/25/2026 3:11:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[psp_PROMOTION_ITEMS_DETAILED]
(
    @fromdate   DATE,
    @todate     DATE,
    @branchids  dbo.tp_BrnIds READONLY,
	@division       VARCHAR(100) = '',
    @category       VARCHAR(100) = '',
    @subcategory    VARCHAR(100) = '',
	@department     VARCHAR(100) = '',
	@itemcode     INT = 0
)
AS	
BEGIN

    SELECT
		@fromdate               [From Date],
		@todate					[To Date],
        PI.PI_ItemCode          [Item Code],
        PI.PI_BarCode           [Barcode],
        PI.PI_ItemName          [Item Name],
        PI.PI_PMID              [Promotion ID],
        PI.PI_ActPrice          [Actual Price],
        PI.PI_DiscAmount        [Discount Amount],
        PI.PI_Price             [Promo Price],
		PM.PM_StartDate         [Start Date],
		PM.PM_EndDate           [End Date],
		PM.PM_Type,
		IM.itemDivisionCode     [Division Code],
		DV.MST_Desc             [Division Name],   

		B.BrnName			    [Branch],
        A.Address1,
        A.Place,
        A.City,
        A.State,
        A.Country,
        A.Phone1

    FROM Promotion_Items PI
    INNER JOIN Branch B
        ON PI.BRNID = B.brnId
	LEFT JOIN AllAddress A
        ON B.brnAddressID = A.AddressId
	JOIN Promotion_Master PM
		ON PM.PM_ID = PI.PI_PMID
	JOIN ItemMaster IM
		ON PI.PI_ItemCode = IM.ItemCode
	JOIN Masters DP
        ON DP.MST_Type = 'ITEMDEPT'
       AND DP.MST_Code = IM.itemDepartmentCode

    JOIN Masters DV
        ON DV.MST_Type = 'ITEMDIVISN'
       AND DV.MST_Code = IM.itemDivisionCode

    JOIN Masters CT
        ON CT.MST_Type = 'ITEMCAT'
       AND CT.MST_Code = IM.itemCategoryCode

    JOIN Masters SC
        ON SC.MST_Type = 'ITEMSUBCAT'
       AND SC.MST_Code = IM.itemSubCategoryCode

	WHERE
		PM.PM_Date BETWEEN @fromdate AND @todate
        AND (@division     = '' OR DV.MST_Desc = @division)
        AND (@department   = '' OR DP.MST_Desc = @department)
        AND (@category     = '' OR CT.MST_Desc = @category)
        AND (@subcategory  = '' OR SC.MST_Desc = @subcategory)
        AND (@itemcode     = 0  OR PI.PI_ItemCode = @itemcode)

END