USE [BERRI_X3_CLOUD_TEST]
GO
/****** Object:  StoredProcedure [dbo].[psp_Purchase_Department_Summary]    Script Date: 1/7/2026 12:23:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[psp_Purchase_Department_Summary]
(
	@fromdate  DATE = null,
	@todate    DATE = null,
	@branchids  [dbo].[tp_BrnIds]  readonly,	
	@report    VARCHAR(50) = ''
)
AS
IF (@report = 'Division')
    BEGIN
        SELECT
            IMC.DepartmentCode,
            IMC.DepartmentName,
            IMC.DivisionCode,
            IMC.DivisionName,
            SUM(PI.TI_TotalAmount) AS [Total Amount],
            SUM(PI.TI_TotalAmount) AS [Net Amount]
        FROM Purchase P
        JOIN Purchase_Items PI
            ON PI.TI_MasterID = P.PRCH_ID
        JOIN ItemMaster_Classification IMC
            ON IMC.ItemCode = PI.TI_ItemCode
        JOIN @branchids B
            ON B.BrnID = P.BRNID
        WHERE
            CONVERT(DATE, P.PRCH_Date) BETWEEN @fromdate AND @todate
        GROUP BY
            IMC.DepartmentCode,
            IMC.DepartmentName,
            IMC.DivisionCode,
            IMC.DivisionName
        ORDER BY
            IMC.DivisionName;
    END

    -- =========================
    -- CATEGORY-WISE
    -- =========================
ELSE IF (@report = 'Category')
    BEGIN
        SELECT
            IMC.DepartmentCode,
            IMC.DepartmentName,
            IMC.DivisionCode,
            IMC.DivisionName,
            IMC.CategoryCode,
            IMC.CategoryName,
            SUM(PI.TI_TotalAmount) AS [Total Amount],
            SUM(PI.TI_TotalAmount) AS [Net Amount]
        FROM Purchase P
        JOIN Purchase_Items PI
            ON PI.TI_MasterID = P.PRCH_ID
        JOIN ItemMaster_Classification IMC
            ON IMC.ItemCode = PI.TI_ItemCode
        JOIN @branchids B
            ON B.BrnID = P.BRNID
        WHERE
            CONVERT(DATE, P.PRCH_Date) BETWEEN @fromdate AND @todate
        GROUP BY
            IMC.DepartmentCode,
            IMC.DepartmentName,
            IMC.DivisionCode,
            IMC.DivisionName,
            IMC.CategoryCode,
            IMC.CategoryName
        ORDER BY
            IMC.DivisionName,
            IMC.CategoryName;
    END